matplotlib==3.2.1
-e git+https://github.com/sagarverma/metrics.git@04af336f5064c62e829c2cb12e8ea6c286c3adb9#egg=motormetrics
-e git+https://github.com/sagarverma/dynamical_system_modeling@d44906d6154f2b8581146330f1d5ffdf868a8295#egg=motornn
-e git+https://github.com/sagarverma/refgen.git@540b5baae1460769241af43a598b6be189789a82#egg=motorrefgen
-e git+https://github.com/sagarverma/matsim.git@fb1e9ad874d363e404c40a88ce3ca01e4d7cac75#egg=motorsim
numpy==1.18.1
Pillow==7.1.1
scikit-learn==0.22.2.post1
scipy==1.4.1
torch==1.4.0
torchvision==0.5.0
